.menu {
  justify-content: center;
  margin-bottom: 1%;
  margin-top: 1%;
  gap: 10px;
}
.list-group-item {
  cursor: pointer;
  transition: background-color 50ms ease-out 1ms;
}

.list-group-item:hover {
  background-color: #ea7676;
}
